@charset "UTF-8";
@import "base.css";
@import "../setting";
/* 設定 */

/* All
/*-----------------------------------------------------------------------*/
#all {
  width: 100%;
  min-width: 980px;
  margin: 0 auto;
}

